<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div id="app">
    <h1>{{ title }}</h1>
    <hr>
    <h2>Users data</h2>
    
      <p  
      v-for="(error, i) in errors"
      :key="i">{{ error }}</p>

      <table>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td>
              <p>Name: {{user.name}}</p>
              <hr>
            </td>

            <td>
              <p>Email: {{user.email}}</p>
              <hr>
            </td>
          </tr>
        </tbody>
      </table>

  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

  <script src="./main.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        title: 'Vue fetch',
        urlUsers: 'https://jsonplaceholder.typicode.com/users',
        users: [],
        errors: []
      },
      async mounted() {
        try {
          const response = await fetch (this.urlUsers)
          const result = await response.json()
          this.users.push(...result)
        } catch (error) {
          this.errors.push(error)
        }

        
      },

    })
  </script>
</body>
</html>